body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: radial-gradient(black,blue,purple); */
  background: repeating-linear-gradient(black, blue, purple);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /ign-items: center;/
}
.calcBox {
  display: flex;
  flex-direction: column;
  color: wheat;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(7, 40, 206);
  background: rgba(255, 255, 255, 0.1);
  /* background-color: #056518; */
  backdrop-filter: blur(10px);
  border-radius: 20px;
  height: 600px;
  width: 400px;
}
p {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
.box1 {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  height: 80%;
  width: 80%;
  border: 3px solid rgb(10, 154, 194);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.box1 input {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(155, 223, 241);
  height: 45px;
  font-size: larger;
  color: #ea3713;
}
.display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* padding: 10px; */
  margin: auto;
  gap: 15px;
}
.display button {
  height: 50px;
  width: 50px;
  font-weight: bold;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(52, 7, 135);
  font-size: large;
  box-shadow: 0 0 10px solid slateblue;
  border-radius: 20px;
}
.display button:hover {
  box-shadow: 0 0 10px solid red;
}